* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

header {
  background-image: linear-gradient(to bottom right, #33001b, #ff0084);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
}
